<!-- Steps to update the Website
----A---- In order to Create a new Category
1. Copy and Paste this 
<section class="js m-top">
        
        <div class="title">
            <h2>JavaScript</h2>
            <p class="last-up">Last updated: <b>2/2/2019</b></p>
        </div>

        <div class="rcs">
                <div class="item">
                    <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/1384/1384015.svg" alt="" class="item-img"></div>
                    <div class="item__title">Coding</div>
                    <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
                    <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
                </div>
                <div class="item">
                        <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/55/55835.svg" alt="" class="item-img"></div>
                    <div class="item__title">Coding</div>
                    <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
                    <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
                </div>
                <div class="item">
                    <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/1384/1384015.svg" alt="" class="item-img"></div>
                    <div class="item__title">Coding</div>
                    <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
                    <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
                </div>
                <div class="item">
                    <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/1384/1384015.svg" alt="" class="item-img"></div>
                    <div class="item__title">Coding</div>
                    <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
                    <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
                </div><div class="item">
                        <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/55/55835.svg" alt="" class="item-img"></div>
                    <div class="item__title">Coding</div>
                    <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
                    <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
                </div><div class="item">
                    <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/1384/1384015.svg" alt="" class="item-img"></div>
                    <div class="item__title">Coding</div>
                    <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
                    <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
                </div><div class="item">
                    <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/1384/1384015.svg" alt="" class="item-img"></div>
                    <div class="item__title">Coding</div>
                    <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
                    <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
                </div>
                <div class="item">
                    <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/1384/1384015.svg" alt="" class="item-img"></div>
                    <div class="item__title">Coding</div>
                    <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
                    <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
                </div>
        </div>
</section>
2. Change Title and bg color from CSS




----A---- In order to Update The list in a Category
1. Copy this 

<div class="item">
        <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/1384/1384015.svg" alt="" class="item-img"></div>
        <div class="item__title">Coding</div>
        <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
        <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
    </div>

2. update the items -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./assets/logos/Thalita-Torres-Office-Office-school-rulers.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i" rel="stylesheet">

    <title>Coding Resources | Karanikolas Konstantinos </title>
</head>
<body>


    <header class="header">  
        <div class="header__column-2">
            <p class="p1">Developer</p>
            <p class="p2"> resources</p>
            <p class="p3">by <a href="https://twitter.com/karanikolasKons">Karanikolas Kostas</a></p>
            <p class="p4">
                    This a place where I'll try to gather all intreresting recources <br>that are free to use for developers. The main categories are JavaScript, <br>CSS, Design, Blogs, Youtube Channels, Twitter Accounts and more....
                </p>     
        </div>
        <div class="header__column-1">
                <img src="assets/undraw_folder_39kl.svg" alt="" srcset="">
            </div>
    </header>



    <!-- JavaScript -->

    <section class="js m-top">

            <div class="title">
                <h2>Learning JavaScript</h2>
                <p class="last-up">Last updated: <b>6/2/2019</b></p>
            </div>

            <div class="rcs">
                    <div class="item">
                        <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/29/29105.svg" alt="" class="item-img"></div>
                        <div class="item__title">Practical JavaScript</div>
                        <div class="item__description"><p class="description">Practical JavaScript is a gentle introduction to the JavaScript language for non-programmers. It’s not for “dummies” or “idiots.”</p></div>
                        <div class="item__link"><a href="http://practicaljavascript.com/home" class="link">Visit Here</a></div>
                    </div>
                    <div class="item">
                            <div class="item__logo"><img src="https://javascript.info/img/favicon/favicon.png" alt="" class="item-img"></div>
                        <div class="item__title">JavaScript INFO</div>
                        <div class="item__description"><p class="description">The Modern Javascript Tutorial.How it's done now. From the basics to advanced topics with simple, but detailed explanations.</p></div>
                        <div class="item__link"><a href="https://javascript.info/" class="link">Visit Here</a></div>
                    </div>
                    <div class="item">
                        <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/182/182321.svg" alt="" class="item-img"></div>
                        <div class="item__title">Human JavaScript</div>
                        <div class="item__description"><p class="description"> A js guide created by humans for humans. Through this course you can learn how to create a fully working vanilla js app explained in a more natural and human way.</p></div>
                        <div class="item__link"><a href="http://read.humanjavascript.com/" class="link">Visit Here</a></div>
                    </div>
                    <div class="item">
                        <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/541/541509.svg" alt="" class="item-img"></div>
                        <div class="item__title">You Don't know JS</div>
                        <div class="item__description"><p class="description">A series of 6 books dedicated to JS that targets on different parts and aspects of language. Explains consepts and tricky parts of the language in a very unique way.</p></div>
                        <div class="item__link"><a href="https://github.com/getify/You-Dont-Know-JS" class="link">Visit Here</a></div>
                    </div>
                    <div class="item">
                        <div class="item__logo"><img src="https://flaviocopes.com/assets/favicon.ico" alt="" class="item-img"></div>
                        <div class="item__title">Flavio Copes Website</div>
                        <div class="item__description"><p class="description">Flacio Copes. Flavio created on of the most interesting books(free release) for JS. Also don't forget to subscribe to his daily newsletter that he writes about developers and topics for JS.</p></div>
                        <div class="item__link"><a href="https://flaviocopes.com/" class="link">Visit Flavio</a></div>
                    </div>
                    <div class="item">
                        <div class="item__logo"><img src="http://codingheroes.io/safari-pinned-tab.svg" alt="" class="item-img"></div>
                        <div class="item__title">The complete JS Course</div>
                        <div class="item__description"><p class="description">This is one of the most enjoyable  and explanational video tutorial series I have found for Javascript. The instructor speaks clear english and explains with a simple way even the most complex parts of the language. The cost of this course was 10.99 at the time I bought it.</p></div>
                        <div class="item__link"><a href="https://www.udemy.com/the-complete-javascript-course/" class="link">View Course</a></div>
                    </div>
                   
                    <div class="item">
                        <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/29/29105.svg" alt="" class="item-img"></div>
                        <div class="item__title">JS Roadmap</div>
                        <div class="item__description"><p class="description">If you're new into the development world, I'm sure you always ask yourself what to learn next in JS. A proper developer should grasp a proper knowledge for how vanilla JS mechanics works. The easiest way in my opinion is by following a Roadmap or you can call it a list.</p></div>
                        <div class="item__link"><a href="https://learnvanillajs.com/roadmap/" class="link">Visit Roadmap</a></div>
                    </div>
                    <div class="item">
                        <div class="item__logo"><img src="https://nodeschool.io/favicon.ico" alt="" class="item-img"></div>
                        <div class="item__title">Nodeschool.io</div>
                        <div class="item__description"><p class="description">If you're new into the development world, I'm sure you always ask yourself what to learn next in JS. A proper developer should grasp a proper knowledge for how vanilla JS mechanics works. The easiest way in my opinion is by following a Roadmap or you can call it a list.</p></div>
                        <div class="item__link"><a href="" class="link">Visit Roadmap</a></div>
                    </div>
       
            </div>
    </section> 

    


    <!-- CSS AND SASS -->
    <section class="css">
            <div class="title">
                <h2>CSS & SASS</h2>
                <p class="last-up">Last updated: <b>8/2/2019</b></p>
            </div>
            <div class="rcs">
                    <div class="item">
                        <div class="item__logo"><img src=" https://avatars2.githubusercontent.com/u/2035942?s=200&v=4" alt="" class="item-img"></div>
                        <div class="item__title">SASS Guide - A List Apart</div>
                        <div class="item__description"><p class="description">Maybe, the first source I had ever discovered when started learning about how to create a website. In this guide you can get the first basic knowledge about SASS and learn how to use it in your next projects.</p></div>
                        <div class="item__link"><a href="https://alistapart.com/article/getting-started-with-sass" class="link">Visit Guide</a></div>
                    </div>
                    <div class="item">
                            <div class="item__logo"><img src="https://yt3.ggpht.com/a-/AAuE7mBU2dqTyWydyi0pvVTq1y4KeYNsTa1wzXSXpA=s88-mo-c-c0xffffffff-rj-k-no" alt="" class="item-img"></div>
                        <div class="item__title">CSS Video Tutorial - DevTips</div>
                        <div class="item__description"><p class="description">This tutorial is hosted on youtube and is free to watch. You can learn the basic and important topics of CSS layout and how to style your apps. DevTips is one of the best YT channels where you can find great tutorials to follow. Highly Recommended.</p></div>
                        <div class="item__link"><a href="https://www.youtube.com/playlist?list=PLqGj3iMvMa4IOmy04kDxh_hqODMqoeeCy" class="link">Google</a></div>
                    </div>
            </div>
    </section>

    <!-- Tutorials-->
        <section class="frameworks">
                <div class="title">
                    <h2>Tutorials</h2>
                    <p class="last-up">Last updated: <b>8/2/2019</b></p>
                </div>
                <div class="rcs">
                        <div class="item">
                            <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/1384/1384015.svg" alt="" class="item-img"></div>
                            <div class="item__title">SASS guide - A list Apart</div>
                            <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
                            <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
                        </div>
                        <div class="item">
                            <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/55/55835.svg" alt="" class="item-img"></div>
                            <div class="item__title">Coding</div>
                            <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
                            <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
                        </div>
                        <div class="item">
                            <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/1384/1384015.svg" alt="" class="item-img"></div>
                            <div class="item__title">Coding</div>
                            <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
                            <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
                        </div>
                        <div class="item">
                            <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/1384/1384015.svg" alt="" class="item-img"></div>
                            <div class="item__title">Coding</div>
                            <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
                            <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
                        </div><div class="item">
                                <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/55/55835.svg" alt="" class="item-img"></div>
                            <div class="item__title">Coding</div>
                            <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
                            <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
                        </div><div class="item">
                            <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/1384/1384015.svg" alt="" class="item-img"></div>
                            <div class="item__title">Coding</div>
                            <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
                            <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
                        </div><div class="item">
                            <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/1384/1384015.svg" alt="" class="item-img"></div>
                            <div class="item__title">Coding</div>
                            <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
                            <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
                        </div>
                        <div class="item">
                            <div class="item__logo"><img src="https://image.flaticon.com/icons/svg/1384/1384015.svg" alt="" class="item-img"></div>
                            <div class="item__title">Coding</div>
                            <div class="item__description"><p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores accusantium, in amet illo delectus velit aperiam molestias in</p></div>
                            <div class="item__link"><a href="www.google.com" class="link">Google</a></div>
                        </div>
                </div>
        </section>


</body>
</html>