html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.7;
  color: #000;
}

.header {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__column-1 {
  text-align: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.header__column-1 img {
  width: 400px;
  height: auto;
}

.header__column-2 {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__column-2 .p1 {
  font-size: 10rem;
  line-height: 5rem;
}

.header__column-2 .p2 {
  font-size: 8rem;
}

.header__column-2 .p3 {
  font-size: 2rem;
}

.header__column-2 .p4 {
  margin-top: 4rem;
  line-height: 3rem;
}

.header .column-1 {
  text-align: center;
}

.spc-btwn {
  padding: 1rem;
}

.m-top {
  margin-top: 12rem;
}

.title {
  width: 100%;
  text-align: center;
  padding: 5rem 0 5rem 0;
  font-size: 5rem;
  color: #fff;
}

.js {
  background-color: #3f88c5;
}

.css {
  background-color: #1c5253;
}

.frameworks {
  background-color: #d00000;
}

.last-up {
  font-size: 2.5rem;
}

.rcs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.rcs .item {
  padding: 6rem;
}

.rcs .item-img {
  width: 7rem;
}

.rcs .item__title {
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.rcs .item__description {
  height: auto;
  width: 30rem;
  padding: 1rem 0;
}
/*# sourceMappingURL=style.css.map */