
$color1: rgba(48, 107, 52, 1);
$color2: rgba(28, 82, 83, 1);
$color3: rgba(208, 0, 0, 1);
$color4: rgba(6, 71, 137, 1);
$color5: rgba(63, 136, 197, 1);
$text-dark:#000;
$text-light:#fff;


html{

    font-size:62.5%;
    
    }
*{ 
    margin :0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Karla', sans-serif;
    font-weight:400;
    font-size:16px;
    font-size:1.7;
    color:#000;
}

.header{
    margin-top: 10rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    &__column-1{    
        text-align: center;
        flex-basis: 50%;
        img{
            width: 400px;
            height: auto;
        }
    }
    &__column-2{    
    
        text-align: center;
        flex: 1;
        flex-direction: column;
        .p{
        &1{
            font-size: 10rem;
            line-height: 5rem;;
        }
        &2{
            font-size: 8rem;
        }
        &3{
            font-size: 2rem;
        }
        &4{
        margin-top: 4rem;
        line-height: 3rem;
        }
        }
    }
    .column-1{
        text-align: center;
    }
}
.spc-btwn{
    padding: 1rem;

}
.m-top{
    margin-top: 12rem;
}
.title{
    width: 100%;
    text-align: center;
    padding: 5rem 0 5rem 0;
    font-size: 5rem;
    color: $text-light;
}
.js{background-color: $color5;}
.css{background-color: $color2;}
.frameworks{background-color: $color3};

.last-up{font-size:2.5rem;}
.rcs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: $text-light;
    .item{
        padding: 6rem;
        &__logo{

        }
        &-img{
        width: 7rem;
        }
        &__title{
        padding: 1rem 0;
        font-size: 2.5rem;
        font-weight: bold;
        }
        &__description{
            height: auto;
            width: 30rem;
            padding: 1rem 0;
        }
    }
}